.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid;
  padding: 20px;

  border-radius: 7px;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  color: #737373;
  padding-top: 20px;
  font-size: 34px;
  font-weight: 400;
  line-height: 38px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  padding: 5px;
}
.date {
  color: #c2a693;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}
.weather-condition {
  color: #c2a693;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #505050;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

small {
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
  color: #737373;
}
a {
  text-decoration: none;
  font-weight: 400;
  color: #737373;
}
a:hover {
  color: #363636;
}
